.innerContainer {
  transform: rotate(-45deg) translate(-50%, -50%);
  position: absolute;
  top: -1.2rem;
  left: 13.8rem;
  width: 20rem;
  height: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .timeBox > span {
    font-size: 1.8rem;
    text-shadow: -2px 1px rgba(255, 255, 255, 0.432);
    color: var(--black);
  }

  .timeBox {
    text-shadow: -2px 1px rgba(255, 255, 255, 0.432);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    padding-bottom: 2rem;
    position: relative;
    gap: 0.2rem;
    font-size: 1.5rem;
    .backgroundTimeBox {
      transform: rotate(-45deg);
      z-index: -1;
      border-radius: 1rem;
      margin-top: 1.8rem;
      top: -3rem;
      left: -1.5rem;
      position: absolute;
      width: 5rem;
      height: 5rem;
    }
  }

  .buttonsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1.5rem;
    .start {
      
      width: 4.5rem;
    }
    .pause {
      width: 5.5rem;
    }
    .reset {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      flex-direction: column;
      border: 1px solid transparent;
      border-radius: 50%;
      margin-bottom: -1.5rem;

      &:hover {
        border-color: var(--black);
        box-shadow: 0px 0px 5px var(--black);
      }
    }
    .start,
    .pause {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}
.progressBar {
  position: absolute;
  top: -1.8rem;
  left: -0.5rem;
  width: 19.8rem;
  height: 0.8rem;
  border-radius: 1rem 0rem 1rem 0rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 1px solid black;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.452);


  .innerProgressBar {
    border-radius: 1rem 0rem 1rem 0rem;
    height: 0.8rem;
    background-color: var(--black);
  }
}

h1 {
  position: absolute;
  width: 20rem;
  left: 10.5rem;
  bottom: 10rem;
  transform: rotate(270deg);
  font-size: 2rem;
  font-weight: 600;
  text-shadow: -2px 1px rgba(255, 255, 255, 0.432);
}
